<li class="page-item">
  <%= link_to_unless current_page.first?, raw(I18n.t('views.pagination.first')), url, {class: 'page-link', :remote => remote,  data: {push: 'partial', target: (!local_assigns[:target].nil? and  target) ? target : '.wiselinks-partial'}} %>
</li>
