<li class="page-item <%= 'active' if page.current? %>">
  <%= link_to page, page.current? ? '' : url, {class: 'page-link', :remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil, data:  {push: 'partial', target: (!local_assigns[:target].nil? and  target) ? target : '.wiselinks-partial'}} %>
</li>
