<%= render_crud do %>
	<div class="modal inmodal" id="modal_new_record" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated bounceInRight">
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal"><%= I18n.t("cancel") %></button>
				</div>
			</div>
		</div>
	</div>
	<%unless params[:render] == 'modal'%>
		<% if @record.new_record? %>
			<% if @crud_associacao.present? %>
				<% url = create_crud_associacao_path(model: params[:model], id: params[:id], associacao: params[:associacao], page: params[:page], q: params[:q].try(:to_unsafe_h)) %>
			<% else %>
				<% url = create_crud_path(model: @model.name.underscore, page: params[:page], q: params[:q].try(:to_unsafe_h)) %>
			<% end %>
		<% else %>
			<% if @crud_associacao.present? %>
				<% url = update_crud_associacao_path(model: params[:model], id: params[:id], associacao: params[:associacao], associacao_id: @record.id, page: params[:page], q: params[:q].try(:to_unsafe_h)) %>
			<% else %>
				<% url = update_crud_path(model: @model.name.underscore, id: @record.id, page: params[:page], q: params[:q].try(:to_unsafe_h)) %>
			<% end %>
		<% end %>
		<% remote_form = false%>
	<%else%>
		<% url = "#{@clean_url}/#{@record.new_record? ? 'create?render=modal' : @record.id.to_s+'/create?render=modal'}" %>
		<% remote_form = true%>
	<%end%>
	<%= simple_nested_form_for @record, remote: remote_form, html: {class: "form-horizontal"}, url: url do |f| %>
		<%= flash_messages_error(@record.errors) %>
		<% @crud_helper.form_fields.each_with_index do |field, index| %>
			<% if field[:sf][:agrupamento].present? && (index == 0 || @crud_helper.form_fields[index - 1][:sf][:agrupamento] != field[:sf][:agrupamento]) %>
				<div class="col-sm-12">
					<h3><%= I18n.t(field[:sf][:agrupamento]) %></h3>
				</div>
			<% end %>
			<% if field[:sf][:if].present? %>
				<% next unless field[:sf][:if].call(f.object) %>
			<% end %>
			<% if field[:sf][:grupo].present? %>
				<%= render "/crud/form_group", f: f, key: field[:attribute], groups: field[:sf] %>
			<% else %>
				<% if @model.reflect_on_association(field[:attribute]).try(:macro) == :belongs_to && is_raro_crud(@model.reflect_on_association(field[:attribute]).class_name) && field[:sf][:add_registro].nil?%>
						<%= render_plus_button(field,f,@model,@record) %>
				<%else%>
						<%= render_field(field,f,@model,@record) %>
				<%end%>
			<% end %>
			<% if field[:sf][:separador].present? %>
				<hr>
			<% end %>
		<% end %>
		<%@crud_helper.form_groups.each do |key, groups|%>
			<%= render "/crud/form_group", f: f, key: key, groups: groups %>
		<% end %>
		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-2">
				<%= f.submit I18n.t("save"), class: 'btn btn-primary'  %>
				<%unless params[:render] == 'modal'%>
					<%= link_to I18n.t("undo"), @url, class: 'btn btn-default', data: {push: 'partial', target: "#form"} %>
				<% end %>
			</div>
		</div>
	<% end %>
	<% @crud_helper.form_scripts.each do |script| %>
		<%= javascript_include_tag "crud/#{script}" %>
	<% end %>
<% end %>
