<%= render_crud do %>
  <div>
    <%= render "/crud/links" %>
  </div>
  <div class="dataTables_wrapper form-inline">
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
      <thead>
        <tr>
          <% @crud_helper.index_fields.each do |att| %>
            <% if !att[:visible_if].nil? %>
              <% if (att[:visible_if].class == Proc && !att[:visible_if].call(att)) || (att[:visible_if].class != Proc && !att[:visible_if]) %>
                <% next %>
              <% end %>
            <% end %>
            <th>
              <% if att[:sort_field].present? %>
                <% if att[:sort_field] == :false %>
                  <%= I18n.t(att[:label], default: I18n.t("shared.#{att[:attribute]}")) %>
                <% else %>
                  <%= sort_link @q, att[:sort_field], I18n.t(att[:label], default: I18n.t("shared.#{att[:attribute]}")), {},data: { push: 'partial', target: "#form" } %>
                <% end %>
              <% else %>
                <%= sort_link @q, att[:attribute], I18n.t(att[:label], default: I18n.t("shared.#{att[:attribute]}")), {},data: { push: 'partial', target: "#form" } %>
              <% end %>
            </th>
          <% end %>
          <% if @crud_helper.view_action || @crud_helper.edit_action || @crud_helper.destroy_action || @crud_helper.actions.present? || @crud_helper.actions_links.present? %>
            <td><%= I18n.t("simple_form.index.options", default: I18n.t("options")) %></td>
          <% end %>
        </tr>
      </thead>
      <tbody id="records-body">
        <% @records.each do |record| %>
          <%= render '/crud/record', record: record %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @records, target: '#form', theme: 'templus' %>
  </div>
<% end %>
