<%= content_tag :tr, id: "record-#{record.id}" do %>
	<% @crud_helper.index_fields.each do |att| %>
		<% if !att[:visible_if].nil?%>
			<% if ((att[:visible_if].class == Proc && !att[:visible_if].call(record)) || (att[:visible_if].class != Proc && !att[:visible_if])) %>
				<% next %>
			<% end %>
		<% end %>
		<% if record.send(att[:attribute]).present? or record.send(att[:attribute]).to_s == "false"%>
			<% if @model.columns_hash[att[:attribute].to_s].present? && [:date, :time, :datetime].include?(@model.columns_hash[att[:attribute].to_s].type)%>
				<td class="">
					<div class="col-xs-9">
						<% if att[:date_format].present?%>
							<%= I18n.l(record.send(att[:attribute]), format: att[:date_format]) %>
						<% else %>
							<%= I18n.l(record.send(att[:attribute])) %>
						<% end %>
					</div>
				</td>
			<% elsif @model.reflect_on_association(att[:attribute]) && @model.reflect_on_association(att[:attribute]).macro != :belongs_to && @model.reflect_on_association(att[:attribute]).macro != :has_one%>
				<td class="">
					<% record.send(att[:attribute]).each do |rec| %>
						<li>
							<% if att[:link_associacao] %>
								<%= link_to crud_model_path(model: rec.class_name.to_s.underscore, id: rec.id) do %>
									<%= rec.to_s %>
								<% end %>
							<% else %>
								<%= rec.to_s %>
							<% end %>
						</li>
					<% end %>
				</td>
			<% elsif record.send(att[:attribute]).class == Array %>
				<td class="">
					<% record.send(att[:attribute]).each do |rec| %>
						<li>
							<%= rec.to_s %>
						</li>
					<% end %>
				</td>
			<% elsif record.send(att[:attribute]).respond_to?(:url) and record.send(att[:attribute]).url(:thumb) %>
				<td class="">
					<%= link_to record.send(att[:attribute]).url, target: "_blank" do %>
						<%= image_tag(record.send(att[:attribute]).url(:thumb)) %>
					<% end %>
				</td>
			<% else %>
				<% if record.send(att[:attribute]).to_s == "false" or record.send(att[:attribute]).to_s == "true" %>
					<td class="">
						<div class="col-xs-9">
							<%= I18n.t(record.send(att[:attribute]) ? "shared.sim" : "shared.nao") %>
						</div>
					</td>
				<% else %>
					<td class="">
						<div class="col-xs-9">
							<% if att[:label_method].present? && record.send(att[:attribute]).present?%>
								<% if @model.reflect_on_association(att[:attribute]) && att[:link_associacao] %>
									<%= link_to crud_model_path(model: @model.reflect_on_association(att[:attribute]).class_name.to_s.underscore, id: record.send(att[:attribute]).id) do %>
										<%= record.send(att[:attribute]).send(att[:label_method]) %>
									<% end %>
								<% else %>
									<%= record.send(att[:attribute]).send(att[:label_method]) %>
								<% end %>
							<% else %>
								<% if @model.reflect_on_association(att[:attribute]) && att[:link_associacao] %>
									<%= link_to crud_model_path(model: @model.reflect_on_association(att[:attribute]).class_name.to_s.underscore, id: record.send(att[:attribute]).id) do %>
										<%= record.send(att[:attribute]).to_s %>
									<% end %>
								<% else %>
									<%= record.send(att[:attribute]).to_s %>
								<% end %>
							<% end %>
						</div>
					</td>
				<% end %>
			<% end %>
		<% else %>
			<td class=""></td>
		<% end %>
	<%end%>
	<% if @crud_helper.view_action || @crud_helper.edit_action || @crud_helper.destroy_action || @crud_helper.actions.present? || @crud_helper.actions_links.present? %>
		<td class="">
			<div class="col-xs-9">
				<% @crud_helper.actions.each do |action| %>
					<% if (action[:proc].present? && action[:proc].call(record)) || !action[:proc].present? %>
						<% if action[:options].present? && action[:options][:wiselink].present? && action[:options][:wiselink] %>
							<% data = {push: "partial", target: "#form"} %>
            <% end %>
            <% if @crud_associacao.present? %>
              <%= link_to I18n.t(action[:desc]), action_crud_associacao_path(model: params[:model], id: params[:id], associacao: params[:associacao], associacao_id: record.id, acao: action[:method], page: params[:page], q: params[:q].try(:to_unsafe_h)), class: "btn btn-primary btn-sm", data: data || {} %>
            <% else %>
              <%= link_to I18n.t(action[:desc]), action_crud_path(model: @model.name.underscore, id: record.id, acao: action[:method], page: params[:page], q: params[:q].try(:to_unsafe_h)), class: "btn btn-primary btn-sm", data: data || {} %>
            <% end %>
					<% end %>
				<% end %>
				<% @crud_helper.actions_links.each do |name, options| %>
					<% unless (options[:can].present? && !record.instance_eval(&options[:can])) %>
						<% if options[:url].present? %>
							<% url = options[:url] %>
							<% if options[:id] %>
								<% url += options[:url].include?("?") ? "&id=#{record.id}" : "?id=#{record.id}" %>
							<% else url.include?(":id") %>
								<% url = url.gsub(":id", "#{record.id}") %>
							<% end %>
							<% if options[:wiselink].present? && options[:wiselink] %>
								<a href="<%= url %>" class="btn btn-success btn-sm" data-push="partial" data-target="#form">
									<%= I18n.t(name) %>
								</a>
							<% else %>
								<a href="<%= url %>" class="btn btn-success btn-sm">
									<%= I18n.t(name) %>
								</a>
							<% end %>
						<% elsif options[:associacao].present? %>
							<% if options[:wiselink].present? && options[:wiselink] %>
								<%= link_to I18n.t(name), crud_associacao_models_path(model: @model.name.underscore, id: record.id, associacao: options[:associacao].to_s), class: "btn btn-success btn-sm", data: {push: true, crumb: "wielka"} %>
							<% else %>
								<%= link_to I18n.t(name), crud_associacao_models_path(model: @model.name.underscore, id: record.id, associacao: options[:associacao].to_s), class: "btn btn-success btn-sm" %>
							<% end %>
						<% elsif options[:partial].present? %>
							<%= render options[:partial], record: record, action: :index %>
						<% end %>
					<% end %>
				<% end %>
				<% if @crud_helper.view_action && should_view?(@crud_helper, record) %>
					<% link_text = TemplusModels.configuration.usar_icones ? "<i class='fa fa-eye'></i>".html_safe : I18n.t("view") %>
					<% if @crud_associacao.present? %>
						<%= link_to link_text, crud_associacao_model_path(model: params[:model], id: params[:id], associacao: params[:associacao], associacao_id: record.id, page: params[:page], q: params[:q].try(:to_unsafe_h)), class: 'btn btn-primary btn-sm', data: {push: 'partial', target: '#form'} %>
					<% else %>
						<%= link_to link_text, crud_model_path(model: @model.name.underscore, id: record.id, page: params[:page], q: params[:q].try(:to_unsafe_h)), class: 'btn btn-primary btn-sm', data: {push: 'partial', target: '#form'} %>
					<% end %>
				<% end %>
				<% if @crud_helper.edit_action && should_edit?(@crud_helper, record) %>
					<% link_text = TemplusModels.configuration.usar_icones ? "<i class='fa fa-edit'></i>".html_safe : I18n.t("edit") %>
					<% if @crud_associacao.present? %>
						<%= link_to link_text, edit_crud_associacao_path(model: params[:model], id: params[:id], associacao: params[:associacao], associacao_id: record.id, page: params[:page], q: params[:q].try(:to_unsafe_h)), class: 'btn btn-primary btn-sm', data: {push: 'partial', target: '#form'} %>
					<% else %>
						<%= link_to link_text, edit_crud_path(model: @model.name.underscore, id: record.id, page: params[:page], q: params[:q].try(:to_unsafe_h)), class: 'btn btn-primary btn-sm', data: {push: 'partial', target: '#form'} %>
					<% end %>
				<% end %>
				<% if @crud_helper.destroy_action && should_destroy?(@crud_helper, record) %>
					<% link_text = TemplusModels.configuration.usar_icones ? "<i class='fa fa-trash'></i>".html_safe : I18n.t("destroy") %>
					<% if @crud_associacao.present? %>
						<%= link_to link_text, destroy_crud_associacao_path(model: params[:model], id: params[:id], associacao: params[:associacao], associacao_id: record.id, page: params[:page], q: params[:q].try(:to_unsafe_h)), class: 'btn btn-danger btn-sm', data: {method: 'delete', confirm: I18n.t('mensagem_confirm_destroy')} %>
					<% else %>
						<%= link_to link_text, destroy_crud_path(model: @model.name.underscore, id: record.id, page: params[:page], q: params[:q].try(:to_unsafe_h)), class: 'btn btn-danger btn-sm', data: {method: 'delete', confirm: I18n.t('mensagem_confirm_destroy')} %>
					<% end %>
				<% end %>
			</div>
		</td>
	<% end %>
<% end %>