<%unless params[:render] == 'modal'%>
	<div class="row wrapper white-bg page-heading">
		<div class="col-lg-12">
			<h2>
				<% if content_for? :header %>
					<%= yield  :header %>
				<% end %>
			</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<%= link_to root_path do %>
							<%= I18n.t("home") %>
						<% end %>
					</li>
					<% if content_for? :breadcumb %>
						<%= yield  :breadcumb %>
					<% end %>
				</ol>
			</nav>
		</div>
	</div>
<% end %>
<% if content_for? :corpo %>
	<%= yield :corpo %>
<% end %>
<% if content_for? :modal %>
	<%= yield  :modal %>
<% end %>